<div class="centered">
  <input id="red" type="text" value="100" class="dial">
  <input id="green" type="text" value="100" class="dial">
  <input id="blue" type="text" value="100" class="dial">

  <h3 id="rgb">RGB(100,100,100)</h3>

  <div id="square" style="background-color: rgb(100,100,100)"></div>
</div>

<script>
  $(function(){
    $(".dial").knob({
      'min': 0,
      'max': 255,
      'change': function () {
        color = "rgb(" + red.val() +","+ green.val() +","+ blue.val() +")"
        rgb.html(color);
        square.css("background-color", color);
      }
    });
  });

  red = $("#red")
  green = $("#green")
  blue = $("#blue")
  rgb = $("#rgb")
  square = $("#square")

</script>
